<h1>Cadastrar Usuario</h1>
<form action="/usuarios" method="post">
    <input type="text" name="nome" placeholder="Nome">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="senha" placeholder="Senha">
    <button type="submit">Cadastrar</button>
</form>